h1{
    text-align: center;
}  
ul{
    margin:20px;
    padding:0;
    background-color: rgb(68, 68, 68);
}
li{
    display: inline-block;
    padding: 10px;
}
a{
    color: white;
    text-decoration: none;
    padding: 15px 122px;
}
a:hover{
    background-color: #4f87bb;
}