<table>
    <tr>
        <th>#ID</th>
        <th>Name</th>
        <th>Stock</th>
        <th>Price</th>
        <th>Category</th>
        <th>Description</th>
        <th>Delete</th>
    </tr>
    
    <tr *ngFor = "let item of products">
        <td>{{item.product_id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.stock}}</td>
        <td>{{item.price}}</td>
        <td>{{item.category}}</td>
        <td>{{item.description}}</td>
        <td><button (click)="navigateToDelete(item.product_id)">Delete</button></td>
    </tr>
</table>
